# compilation and distribution
__pycache__
_ext
*.pyc
*.so
detectron2_backbone.egg-info/
build/
dist/
debug/
example/
.idea
.vscode
.python-version


# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~